<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.managesystem.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.managesystem.pojo.Role" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sort" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isAdmin" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parentId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="roleType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userCode" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.managesystem.pojo.Role" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sort" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isAdmin" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parentId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="roleType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, status, sort, create_time, create_id, isAdmin, parentId, roleType, userCode
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dormitory_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dormitory_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.managesystem.pojo.Role" >
    insert into dormitory_role (id, name, status,
      sort, create_time, create_id, 
      isAdmin, parentId, roleType, 
      userCode, remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{createId,jdbcType=INTEGER}, 
      #{isadmin,jdbcType=INTEGER}, #{parentid,jdbcType=VARCHAR}, #{roletype,jdbcType=INTEGER}, 
      #{usercode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.managesystem.pojo.Role" >
    insert into dormitory_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="isadmin != null" >
        isAdmin,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="roletype != null" >
        roleType,
      </if>
      <if test="usercode != null" >
        userCode,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="roletype != null" >
        #{roletype,jdbcType=INTEGER},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.managesystem.pojo.Role" >
    update dormitory_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        isAdmin = #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="roletype != null" >
        roleType = #{roletype,jdbcType=INTEGER},
      </if>
      <if test="usercode != null" >
        userCode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.managesystem.pojo.Role" >
    update wedding_role
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      isAdmin = #{isadmin,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=VARCHAR},
      roleType = #{roletype,jdbcType=INTEGER},
      userCode = #{usercode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.managesystem.pojo.Role" >
    update dormitory_role
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      isAdmin = #{isadmin,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=VARCHAR},
      roleType = #{roletype,jdbcType=INTEGER},
      userCode = #{usercode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getHavePermissionUser" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"></include>
    ,
    <include refid="Blob_Column_List"></include>
    from dormitory_role
    <where>
      <if test="userCode!=null and userCode!=''">
        and userCode like "%"#{userCode}"%"
      </if>
      <if test="userName!=null and userName!=''">
        and name like "%"#{userName}"%"
      </if>
    </where>
  </select>
</mapper>