<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.EmployInfoMapper" >
  <resultMap id="BaseResultMap" type="com.project.pojo.EmployInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="empoloy_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="three_word" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, empoloy_code, create_time, user_name, sex, user_id, user_code, three_word
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ecs_employ_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ecs_employ_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.pojo.EmployInfo" >
    insert into ecs_employ_info (id, empoloy_code, create_time, 
      user_name, sex, user_id, 
      user_code, three_word)
    values (#{id,jdbcType=INTEGER}, #{empoloyCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{userCode,jdbcType=VARCHAR}, #{threeWord,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.pojo.EmployInfo" >
    insert into ecs_employ_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empoloyCode != null" >
        empoloy_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="threeWord != null" >
        three_word,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empoloyCode != null" >
        #{empoloyCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="threeWord != null" >
        #{threeWord,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.pojo.EmployInfo" >
    update ecs_employ_info
    <set >
      <if test="empoloyCode != null" >
        empoloy_code = #{empoloyCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="threeWord != null" >
        three_word = #{threeWord,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.pojo.EmployInfo" >
    update ecs_employ_info
    set empoloy_code = #{empoloyCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_code = #{userCode,jdbcType=VARCHAR},
      three_word = #{threeWord,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="employList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ecs_employ_info
    <where>
      <if test="role!=null">
        <if test="role==1">
          and user_code =#{userCode}
        </if>
      </if>
      <if test="userName!=null and userName!=''">
        and (user_name like "%"#{userName}"%"  or user_code like "%"#{userName}"%" )
      </if>
      <if test="startTime!=null and startTime!=''  or endTime!=null and endTime!=''">
        <if test="startTime!=null and startTime!='' and endTime==null or endTime==''">
          and  <![CDATA[ create_time >= #{startTime}]]>
        </if>
        <if test="endTime!=null and endTime!='' and startTime==null or startTime==''">
          and <![CDATA[ create_time <= #{endTime}]]>
        </if>
        <if test="startTime!=null and startTime!=''  and endTime!=null and endTime!=''">
          <if test="startTime!=null and startTime!=''" >
            and  <![CDATA[ create_time >= #{startTime}]]>
          </if>
          <if test="endTime!=null and endTime!=''">
            and <![CDATA[ create_time <= #{endTime}]]>
          </if>
        </if>
      </if>
    </where>
    order by id desc
  </select>
</mapper>