<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.managesystem.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.managesystem.pojo.User" >
    <constructor >
      <idArg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_role" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_find_password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_birthday" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="headimg" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_password, user_code, user_role, user_find_password, user_phone,
    user_birthday, headimg, user_create_time, user_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from wedding_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wedding_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.managesystem.pojo.User" >
    insert into wedding_user (user_id, user_name, user_password,
      user_code, user_role, user_find_password,
      user_phone, user_birthday, headimg,
      user_create_time, user_update_time)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userCode,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, #{userFindPassword,jdbcType=VARCHAR},
      #{userPhone,jdbcType=VARCHAR}, #{userBirthday,jdbcType=TIMESTAMP}, #{headimg,jdbcType=VARCHAR},
      #{userCreateTime,jdbcType=TIMESTAMP}, #{userUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.managesystem.pojo.User" >
    insert into wedding_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="userFindPassword != null" >
        user_find_password,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userBirthday != null" >
        user_birthday,
      </if>
      <if test="headimg != null" >
        headimg,
      </if>
      <if test="userCreateTime != null" >
        user_create_time,
      </if>
      <if test="userUpdateTime != null" >
        user_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userFindPassword != null" >
        #{userFindPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        #{userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="userCreateTime != null" >
        #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null" >
        #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.managesystem.pojo.User" >
    update wedding_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userFindPassword != null" >
        user_find_password = #{userFindPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        user_birthday = #{userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="headimg != null" >
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="userCreateTime != null" >
        user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null" >
        user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.managesystem.pojo.User" >
    update wedding_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=INTEGER},
      user_find_password = #{userFindPassword,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=TIMESTAMP},
      headimg = #{headimg,jdbcType=VARCHAR},
      user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="checkUserName" parameterType="java.lang.String" resultType="int">
    select count(1)
    from wedding_user
    where user_name = #{userName}
  </select>
  <select id="login" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from wedding_user
    where user_name = #{userName}
    and user_password = #{password}
  </select>
  <select id="checkPassword" parameterType="java.lang.String" resultType="int">
    select count(1)
    from wedding_user
    where user_code = #{userCode} and user_password = #{password}
  </select>
  <update id="modifyPassword" parameterType="java.lang.String">
    update wedding_user
    set user_password = #{password}
    where user_code = #{userCode}
  </update>
  <select id="getUserList" resultMap="BaseResultMap" parameterType="com.managesystem.vo.UserVo">
    select
    <include refid="Base_Column_List"></include>
    from wedding_user
    <where>
      <if test="userName!='' and userName!=null">
        and user_name like  "%"#{userName}"%"
      </if>
      <if test="userCode!='' and userCode!=null">
        and user_code like  "%"#{userCode}"%"
      </if>
      <if test="userRole!='' and userRole!=null">
        and user_role = #{userRole}
      </if>
      <if test="startTime!=null and startTime!=''  or endTime!=null and endTime!=''">
        <if test="startTime!=null and startTime!=''  and endTime!=null and endTime!=''">
          <if test="startTime!=null and startTime!=''" >
            and  <![CDATA[ user_create_time >= #{startTime}]]>
          </if>
          <if test="endTime!=null and endTime!=''">
            and <![CDATA[ user_create_time <= #{endTime}]]>
          </if>
        </if>
        <if test="startTime!=null and startTime!='' and endTime==null or endTime==''">
          and  <![CDATA[ user_create_time >= #{startTime}]]>
        </if>
        <if test="endTime!=null and endTime!='' and startTime==null or startTime==''">
          and <![CDATA[ user_create_time <= #{endTime}]]>
        </if>
      </if>
      and user_role !=1
    </where>
  </select>
  <select id="findUserByRole" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from wedding_user
    where user_role = #{userRole}
  </select>
    <update id="userRePassword" parameterType="int">
        update wedding_user
        set user_password = "e10adc3949ba59abbe56e057f20f883e"
        where user_id = #{userId}
    </update>
  <select id="findAllPhotographer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from wedding_user
    where user_role = 2
  </select>
  <select id="findUserByUserCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"></include>
    from wedding_user
    where user_code = #{userCode}
  </select>

</mapper>